# install: python -m venv .venv (more info here: https://fastapi.tiangolo.com/virtual-environments/#create-a-virtual-environment)
# gitignore the .venv directory: echo "*" > .venv/.gitignore
# install: pip3 install -r requirements.txt      
# install: pip3 install fastapi[standard]
# run script: fastapi dev main.py               
fastapi[standard]==0.113.0